# Gemini API Key
GEMINI_API_KEY=k

# App URL
APP_URL=

# Supabase Integration
VITE_SUPABASE_URL=https://topqtufiivzplbqcldol.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvcHF0dWZpaXZ6cGxicWNsZG9sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNjYzODQsImV4cCI6MjA4OTg0MjM4NH0.OIoL4pbqhqKcq8hQe-085OskPyecGdKarHerXKh-QKw
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvcHF0dWZpaXZ6cGxicWNsZG9sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2NjM4NCwiZXhwIjoyMDg5ODQyMzg0fQ.l0CtLw7BA2CYBId_pH8yHVrzFPEM-h_marSMNFAX7sE
SUPABASE_ACCESS_TOKEN=sbp_92a99bc6a5bd1d30ca8f4cadfefae3dc6f078acf

# n8n Webhook Secret (Optional)
N8N_WEBHOOK_SECRET=
